
// .vuepress/styles/palette.scss

$waikawa-50:  #f2f7fb;
$waikawa-100: #e7f0f8;
$waikawa-200: #d3e2f2;
$waikawa-300: #b9cfe8;
$waikawa-400: #9cb6dd;
$waikawa-500: #839dd1;
$waikawa-600: #6a7fc1;
$waikawa-700: #6374ae;
$waikawa-800: #4a5989;
$waikawa-900: #414e6e;
$waikawa-950: #262c40;

// Optional: override theme variables
$themeColor: $waikawa-600;
